.example{
    width: 300px;
    height: 120px;
    background-color: rgb(102, 243, 246);
    margin-left: 590px;

    border-width: 2px;
    border-style:dashed;
    border-color: red;    
    margin-block: 80px;

}  

.d2{width: 300px;
    height: 120px;
    background-color: rgb(24, 192, 195);
    margin-left: 590px;
    margin-block: -46px;
    border-width: 2px;
    border-style:dotted;
    border-color: red;    

}
    
    .d3{width: 300px;
        height: 130px;
        background-color: rgb(255, 149, 128);
        margin-left: 584px;
        margin-block: 67px;
        border-width: 11px;
        border-style:solid;
        border-color: rgba(255, 0, 0, 0.884);    

    }

    .d4{
        width: 304px;
        height: 130px;
        background-color: rgb(173, 189, 202);
        margin-left: 584px;
        margin-block: -49px;
        border-width: -12px;
        border-style:solid;
        border-color: rgba(3, 3, 3, 0.867);    
        border-right: none;
        border-top: none;
        border-bottom: none;
    }



